.cabecera {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.navegacion {
  display: flex;
  justify-content: end;
  width: 100%;
  column-gap: 12px;
  background-color: tomato;
}
.piepagina {
  background-color: blue;
}

body {
  margin: 0px;
}
